name: CMake
on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

env:
  QT_VERSION: 6.10.1

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: vcpkg build x64
        uses: johnwason/vcpkg-action@v6
        with:
          pkgs: openssl
          triplet: x64-windows-static
          token: ${{ github.token }}
          github-binarycache: true
          cache-key: 'vcpkg-x64'

      - name: Install Qt x64
        uses: jurplel/install-qt-action@v3
        with:
          dir: 'C:/'
          version: ${{ env.QT_VERSION }}
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2022_64'
          cache: 'true'
          cache-key-prefix: 'qt-x64'

      - name: Build x64
        run: bash -c "cd pkg && chmod +x build-desktop.sh && ARCH=x64 QT_BASE_DIR=C:/Qt/${{ env.QT_VERSION }} ./build-desktop.sh"
        env:
          VCPKG_ROOT: ${{github.workspace}}/vcpkg

      - name: Upload x64
        uses: softprops/action-gh-release@v2
        with:
          files: |
            pkg/build/PCBioUnlock-Setup-x64.exe
