name: CMake
on:
  workflow_dispatch:
  push:
    tags:
      - "v*.*.*"

permissions:
  contents: write

env:
  QT_VERSION: 6.10.1

jobs:
  build-windows:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: vcpkg build x64
        uses: johnwason/vcpkg-action@v7
        with:
          pkgs: openssl
          triplet: x64-windows-static
          token: ${{github.token}}
          cache-key: 'vcpkg-x64'

      - name: Install Qt x64
        uses: jurplel/install-qt-action@v4
        with:
          dir: 'C:/'
          version: '${{env.QT_VERSION}}'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2022_64'
          cache: 'true'
          cache-key-prefix: 'qt-x64'

      - name: Build x64
        run: bash -c "cd pkg && chmod +x build-desktop.sh && ARCH=x64 QT_BASE_DIR=C:/Qt/${{env.QT_VERSION}} ./build-desktop.sh"
        env:
          VCPKG_ROOT: ${{github.workspace}}/vcpkg

      - name: Upload x64
        uses: softprops/action-gh-release@v2
        with:
          files: |
            pkg/build/PCBioUnlock-Setup-x64.exe

      - name: vcpkg build arm64
        uses: johnwason/vcpkg-action@v7
        with:
          pkgs: openssl
          triplet: arm64-windows-static
          token: ${{github.token}}
          cache-key: 'vcpkg-arm64'

      - name: Install Qt arm64
        uses: jurplel/install-qt-action@v4
        with:
          dir: 'C:/'
          version: '${{env.QT_VERSION}}'
          host: 'windows'
          target: 'desktop'
          arch: 'win64_msvc2022_arm64_cross_compiled'
          cache: 'true'
          cache-key-prefix: 'qt-arm64'

      - name: Build arm64
        run: bash -c "cd pkg && rm -Rf ./build/ && ARCH=arm64 QT_BASE_DIR=C:/Qt/${{env.QT_VERSION}} ./build-desktop.sh"
        env:
          VCPKG_ROOT: ${{github.workspace}}/vcpkg

      - name: Upload arm64
        uses: softprops/action-gh-release@v2
        with:
          files: |
            pkg/build/PCBioUnlock-Setup-arm64.exe

  build-linux-x64:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Build docker
        run: bash -c "cd ${{github.workspace}}/pkg/linux && chmod +x docker-build.sh && ARCH=x64 ./docker-build.sh"

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: |
            pkg/build/PCBioUnlock-x64.AppImage

  build-linux-arm64:
    runs-on: ubuntu-24.04-arm
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Build docker
        run: bash -c "cd ${{github.workspace}}/pkg/linux && chmod +x docker-build.sh && ARCH=arm64 ./docker-build.sh"

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: |
            pkg/build/PCBioUnlock-arm64.AppImage

  build-mac-arm64:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
        with:
          submodules: recursive

      - name: Prepare Qt
        run: sudo chmod 777 /opt
      - name: Install Qt
        uses: jurplel/install-qt-action@v4
        with:
          dir: '/opt'
          version: '${{env.QT_VERSION}}'
          host: 'mac'
          target: 'desktop'
          arch: 'clang_64'
          cache: 'true'

      - name: Build
        run: bash -c "cd pkg && rm -Rf ./build/ && ARCH=arm64 QT_BASE_DIR=/opt/Qt/${{env.QT_VERSION}} CI_BUILD=1 ./build-desktop.sh"

      - name: Upload
        uses: softprops/action-gh-release@v2
        with:
          files: |
            pkg/build/PCBioUnlock-arm64.dmg
